@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  @apply rounded-2xl bg-white p-4 shadow-md border border-gray-200;
}

.card-dark {
  @apply rounded-2xl bg-black text-white p-4 shadow-md;
}

.button {
  @apply w-full rounded-xl bg-black p-3 text-white font-semibold active:scale-95 transition;
}

.input {
  @apply w-full rounded-xl border border-gray-300 p-3 bg-white;
}

.subtitle {
  @apply text-sm text-gray-500 font-medium;
}